@import '@/assets/styles/mixins.scss';

.imageWrapper {
  max-width: 100%;
  height: 100%;
  // width: 200px;
  // height: 200px;
  border-radius: 4px;
  position: relative;

  &:hover {
    .actions {
      visibility: visible;
      background: rgba($color: $black, $alpha: .6);
    }
  }
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.actions {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all .3s ease-in-out;

  span {
    margin: 0 5px;
    color: $white;
    font-size: 18px;
    cursor: pointer;
  }
}

.fullImage {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}