// Import mixins
@import "@/assets/styles/mixins.scss";

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN INPUT */

.ant-input-disabled {
  background: $gray-lighten-more-more;
}

.input-number {
  &.ant-input-number {
    width: 100%;
  }
}

.input-login {
  .ant-input {
    height: 44px;
    border: 1px solid #d6ebdf;
  }
}

.input-password {
  &.ant-input-affix-wrapper {
    padding: 0px 11px;
  }
  .ant-input-password {
    height: 44px;
    border: 1px solid #d6ebdf;
    .ant-input {
      height: auto;
    }
  }
}

.radio-custom {
  .ant-radio-wrapper {
    // display: block;
    // margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    display: flex;
    align-items: center;
    margin: 20px 0;

    .ant-radio {
      > input {
        width: 22px;
        height: 22px;
      }

      .ant-radio-inner {
        width: 24px;
        height: 24px;

        &::after {
          width: 16px;
          height: 16px;
          border-radius: 20px;
        }
      }
    }
  }
}

.ant-input {
  border: 1px solid #e0e7f0;
  height: 36px;
}

.ant-picker {
  border: 1px solid #e0e7f0;
  height: 36px;
}

.ant-select-selector {
  height: 36px !important;
  padding-top: 2px !important;
}

.ant-pagination-options-size-changer {
  .ant-select-selector {
    height: 32px !important;
    padding-top: 0px !important;
  }
}
