// Import mixins
@import '@/assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN LAYOUT */

.ant-layout {
  background: transparent;
  height: 100%;
}

.ant-layout-header {
  padding: 0;
  height: 60px;
  line-height: 60px;
}

.ant-layout-footer {
  background: transparent;
  padding: 0;
}

.ant-collapse {
  background: transparent;
}

.ant-layout-sider {
  transition: all 0.3s;
}

.ant-layout-content {
  height: 100%;
}