@import "@/assets/styles/mixins.scss";

.topbar {
  align-items: center;
  background: transparent;
  border-bottom: none;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  min-height: 60px;
  padding: 0 rem(30);
}
