@import "@/assets/styles/mixins.scss";

.button {
  border-radius: 3px;
  padding: 0 17px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  &.notChildren {
    padding: 0 10px;
    span {
      padding-right: 0;
      font-size: 16px;
    }
  }
  span {
    padding-right: 5px;
  }
}

.primary {
  background-color: $background-primary;
  border: 1px solid $border-primary;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-primary;
    border: 1px solid $border-primary;
    color: $text-white;
  }
  &:disabled {
    background-color: rgba($background-primary, 0.3);
    border: 1px solid rgba($border-primary, 0.05);
    color: rgba($text-white, 0.7);
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($background-primary, 0.3);
      border: 1px solid rgba($border-primary, 0.05);
      color: rgba($text-white, 0.7);
    }
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-primary;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-primary;
    }
  }
}

.green {
  background-color: $background-green;
  border: 1px solid $border-green;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-green;
    border: 1px solid $border-green;
    color: $text-white;
  }
  &:disabled {
    background-color: rgba($background-green, 0.3);
    border: 1px solid rgba($border-green, 0.05);
    color: rgba($text-white, 0.7);
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($background-green, 0.3);
      border: 1px solid rgba($border-green, 0.05);
      color: rgba($text-white, 0.7);
    }
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-green;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-green;
    }
  }
}

.success {
  background-color: $background-success;
  border: 1px solid $border-success;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-success;
    border: 1px solid $border-success;
    color: $text-white;
  }
  &:disabled {
    background-color: rgba($background-success, 0.3);
    border: 1px solid rgba($border-success, 0.05);
    color: rgba($text-white, 0.7);
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($background-success, 0.3);
      border: 1px solid rgba($border-success, 0.05);
      color: rgba($text-white, 0.7);
    }
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-success;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-success;
    }
  }
}

.danger {
  background-color: $background-danger;
  border: 1px solid $border-danger;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-danger;
    border: 1px solid $border-danger;
    color: $text-white;
  }
  &:disabled {
    background-color: rgba($background-danger, 0.3);
    border: 1px solid rgba($border-danger, 0.05);
    color: rgba($text-white, 0.7);
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($background-danger, 0.3);
      border: 1px solid rgba($border-danger, 0.05);
      color: rgba($text-white, 0.7);
    }
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-danger;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-danger;
    }
  }
}

.yellow {
  background-color: $background-yellow;
  border: 1px solid $border-yellow;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-yellow;
    border: 1px solid $border-yellow;
    color: $text-yellow;
  }
  &:disabled {
    background-color: rgba($background-yellow, 0.3);
    border: 1px solid rgba($border-yellow, 0.05);
    color: rgba($text-white, 0.7);
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($background-yellow, 0.3);
      border: 1px solid rgba($border-yellow, 0.05);
      color: rgba($text-white, 0.7);
    }
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-yellow;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-yellow;
    }
  }
}

.dark {
  background-color: $background-dark;
  border: 1px solid $border-dark;
  color: $text-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $background-dark;
    border: 1px solid $border-dark;
    color: $text-dark;
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-dark;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-dark;
    }
  }
}

.gray {
  background-color: $background-gray;
  border: 1px solid $border-gray;
  color: rgba($color: $text-dark, $alpha: 0.65);
  &:hover,
  &:focus,
  &:active {
    background-color: $background-gray;
    border: 1px solid $border-gray;
    color: rgba($color: $text-dark, $alpha: 0.65);
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-dark;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-dark;
    }
  }
}

.transparent-success {
  background-color: transparent;
  color: $text-success;
  border: none;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $text-success;
    border: none;
    outline: none;
  }
}

.dash-yellow {
  background-color: transparent;
  color: $text-yellow;
  border: 1px solid $border-yellow;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $text-yellow;
    border: 1px solid $border-yellow;
    outline: none;
  }
}

.dash-success {
  background-color: transparent;
  color: $text-success;
  border: 1px solid $border-success;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $text-success;
    border: 1px solid $border-success;
    outline: none;
  }
}

.dash-primary {
  background-color: transparent;
  color: $text-primary;
  border: 1px solid $border-primary;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $text-primary;
    border: 1px solid $border-primary;
    outline: none;
  }
}

.white {
  background-color: $background-white;
  border: 1px solid $border-gray;
  color: rgba($color: $text-dark, $alpha: 0.65);
  &:hover,
  &:focus,
  &:active {
    background-color: $background-gray;
    border: 1px solid $border-gray;
    color: rgba($color: $text-dark, $alpha: 0.65);
  }
  &.notChildren {
    background-color: transparent;
    border: 1px solid $border-lighten;
    color: $text-dark;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 1px solid $border-lighten;
      color: $text-dark;
    }
  }
}

.size-large {
  height: 40px;
}